# --- App / RSS ---
APP_ENV=production
FEED_URL=https://example.com/rss.xml

# --- Database ---
DB_HOST=db
DB_PORT=3306
DB_DATABASE=apartmentsearchdb
DB_USERNAME=searchappuser
DB_PASSWORD=somedbpass
DB_ROOT_PASSWORD=somedbrootpass

# --- SMTP (PHPMailer) ---
INVITE_CODE=code
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=user
SMTP_PASS="smtppass"
SMTP_SECURE=tls  
SMTP_AUTH=true

MAIL_FROM_ADDRESS=from
MAIL_FROM_NAME="name"



